a {
	font-size: 33px;
	color: PaleGreen;
}

body {

	width: 100%;
	height: 100%;
	background-size: 120%;
	background-image: url(12.jpg);
	background-repeat: no-repeat;
	;
}


.u1 {
	color: PaleGreen
}

.u4 {
	background-image: url(12.jpg);
	background-size: 100%;
	position: absolute;
	width: 120%;
	height: 100%;
	left: 0%;
	top: 0%;
}

.u1 {
	left: 8%;
	top: 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 30px
}


.u2 {
	width: 30%;
	height: 35%;
	position: absolute;
	left: 35%;
	top: 10%;
	background: OliveDrab;
	background-size: 100%;
	padding: 1%;
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: 25px;
	border-radius: 20px 20px 20px 20px;
}

.u3 {
	width: 20%;
	height: %;
	position: absolute;
	left: 5%;
	top: 20%;
	background: ;
	background-size: 100%;
	padding: 3%;
	box-sizing: border-box;
	font-size: 25px
}